* {
  margin: 0;
}
span {
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: #FAFAFA;
  padding: 0 10px 0 10px;
}

header li {
  list-style: none;
  float: left;
  padding: 0 10px 0 10px;
}

header {
  background-color: #393939;
  padding: 20px;
}

header h1 {
  color: #FA99FA;
  margin: 0;
  font-family: sans-serif;
  padding-left: 20px;
}

ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

iframe {
  position: absolute;
  display: inline;
  padding-left: 30px;
  border: 1px solid gainsboro;
  width: 50%;
  height: 500px;
  margin-right: 0px;
}

.player {
  display: inline-block;
  width: 40%;
  margin-right: 0;
}

img {
  display: inline-block;
}

#app-container {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  padding: 1em;
}

#content-container {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  align-content: center;
  height: 500px;
}

#video-container {
  display: inline-block;
  border: 2px solid black;
  align-content: center;
  height: 500px;
  width: 40%;
}

.event-display {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid black;
  padding: 1em;
  width: 400px;
  height: 500px;
}

.search-bar {
  display: flex;
  padding-left: 10px;
  margin: 0 auto;
  justify-content: center;
  background-color: rgba(255,100,255, 0.7);
  border-radius: 9px;
  border: 1px solid black;
  padding: 1em;
  margin-top: 2em;
  width: 90%;
  height: 400px;
 }

.event-display img {
  max-height: 250px;
  display: block;
  margin: 0 auto;
}
