* {
  margin: 0;
}
span {
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: #FAFAFA;
  padding: 0 10px 0 10px;
}

header li {
  list-style: none;
  float: left;
  padding: 0 10px 0 10px;
}

header {
  background-color: #393939;
  padding: 20px;
}

header h1 {
  color: #FA99FA;
  margin: 0;
  font-family: sans-serif;
  padding-left: 20px;
}

ul {
  padding-top: 10px;
  padding-bottom: 10px;
}

iframe {
  position: absolute;
  left: 1vw;
  display: inline;
  padding-left: 30px;
  border: none;
  width: 50%;
  height: 500px;
  margin-right: 0px;
}

/*.event-display {
  display: inline-block;
  margin: 0 auto;
  border: 2px solid black;
  padding: 1em;
  width: 400px;
  height: 500px;
  background-color: cyan;
}*/

/*.event-display img {
  max-height: 250px;
  display: block;
  margin: 0 auto;
}*/

#event-item {
  position: absolute;
  padding: 10px;
  top: 20vh;
  left: 65vw;
  color: white;
  background-color: #393939;
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

#event-item a {
  color: white;
  font-size: 1.2em;
  /*background-color: grey;*/

}
