* {
  margin: 0;
}
span {
  text-transform: uppercase;
}

header a {
  text-decoration: none;
  color: #FAFAFA;
  padding: 0 10px 0 10px;
}

header li {
  list-style: none;
  float: left;
  padding: 0 10px 0 10px;
}

header {
  background-color: #393939;
  padding: 20px;
}

header h1 {
  color: #FA99FA;
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-top: 10px;
}

#app-container {
  display: flex;
  flex-direction: row;
  border: 1px solid gainsboro;
  padding: 1em;
  margin: 0;
}

#video-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid gainsboro;
  align-content: center;
  height: 500px;
  padding-left: 200px;
}

#event-container {
  display: flex;
  margin: 0 auto;
  justify-content: right;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 9px;
  border: 1px solid gainsboro;
  padding: 1em;
  width: 40%;
  height: 90%;
}

.player {
  display: flex;
  flex-direction: row;
  align-content: center;
}
iframe {
  padding-left: 50px;
}
.search-bar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 9px;
  border: 1px solid gainsboro;
  padding: 1em;
  margin-top: 1em;
  width: 90%;
  height: 90%;
 }

#eventList-container img, #display-container img, {
  max-height: 250px;
  display: block;
  margin: 0 auto;
}
